/* BODY */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* BARRA DE NAVEGACION */

.menu {
    background-color: #3cc4c4;
}

.menu img {
    width: 50px;
}

.menu a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

/* FOOTER */

footer {
    background-color: #3cc4c4;
}

footer div i {
    font-size: 3rem;
    color: #fff;
}

footer div ul {
    list-style: none;
    color: #fff;
}

/* ----------PAGINA INDEX---------- */

/* SECCION BIENVENIDA */

.seccion-bienvenida {
    background-color: #30abab;
}

.seccion-bienvenida h1 {
    color: #014850;
 
}

/* SECCION INFORMACION */

.seccion-informacion {
    background-color: #30abab;
}

.seccion-informacion h2 {
    color: #014850;
}

.seccion-informacion p {
    color: #014850;
}

/* ----------PAGINA PRODUCTOS---------- */

.seccion-productos {
    background-color: #30abab;
}

.seccion-productos h1 {
    color: #014850;
}

.card-producto {
    background-color: #30abab;
    border: #014850 solid 2px;
    margin: 10px;
}

.card-producto h5 {
    color: #014850;
}

.card-producto p {
    color: #014850;
}

.boton-comprar {
    border: #fff solid 2px;
    color: #fff;
    font-weight: bolder;
}

/* ----------PAGINA SOBRE NOSOTROS---------- */

.seccion-sobre-nosotros {
    background-color: #30abab;
}

.seccion-sobre-nosotros h1,h2,p {
    color: #014850;
} 

.slider {
    max-width: 700px;
}

/* ----------PAGINA PREGUNTAS FRECUENTES---------- */

.seccion-preguntas-frecuentes {
    background-color: #30abab;
}

.seccion-preguntas-frecuentes h1,h3,ul {
    color: #014850;
}

.seccion-preguntas-frecuentes ul {
    list-style: none;
}

/* ----------PAGINA CONTACTO---------- */

.seccion-contacto {
    background-color: #30abab;
    color: #014850;
}

.boton-formulario {
    border: #fff solid 2px;
    color: #fff;
    font-weight: bolder;
}










































