* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-main-contacto .contacto__formulario form fieldset .boton_reset, .contenedor-main-contacto .contacto__formulario form fieldset .boton_enviar {
  width: 150px;
  background-color: #808080;
  border-radius: 10px;
}

header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3cc4c4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}
header a i {
  font-size: 2rem;
  transition: all 1s;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header a i {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header a i {
    font-size: 3rem;
  }
}
@media screen and (min-width: 992px) {
  header a i {
    font-size: 3.5rem;
  }
}
header a i:hover {
  transform: rotate(360deg) scale(1.5);
}
header li {
  list-style: none;
}
header .nav-bar__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@media screen and (min-width: 992px) {
  header .nav-bar__contenedor {
    flex-direction: row;
    justify-content: space-around;
  }
}
header .nav-bar__contenedor a {
  font-size: 1.1rem;
  padding: 10px;
  transition: all 0.2s linear;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  header .nav-bar__contenedor a {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  header .nav-bar__contenedor a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  header .nav-bar__contenedor a {
    font-size: 1.6rem;
  }
}
header .nav-bar__contenedor a:hover {
  background-color: rgba(1, 72, 80, 0.707);
}

.contenedor-main-index {
  padding: 20px;
  background-color: #30abab;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-main-index .section-bienvenida {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-main-index .section-bienvenida h1 {
  color: #014850;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-bienvenida h1 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-bienvenida h1 {
    font-size: 1.9rem;
  }
}
.contenedor-main-index .section-bienvenida p {
  color: #014850;
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  border: solid #014850 5px;
  font-weight: bold;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-index .section-bienvenida p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-bienvenida p {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-bienvenida p {
    font-size: 1.9rem;
  }
}
.contenedor-main-index .section-bienvenida a {
  text-decoration: none;
  color: #fff;
  font-weight: bolder;
  margin: 20px 0;
  padding: 5px;
  border: solid #fff 4px;
  transition: all 0.5s linear;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-index .section-bienvenida a {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-bienvenida a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-bienvenida a {
    font-size: 1.9rem;
  }
}
.contenedor-main-index .section-bienvenida a:hover {
  transform: scale(1.2);
}
.contenedor-main-index .section-bienvenida__img {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-bienvenida__img {
    width: 90%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-bienvenida__img {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.contenedor-main-index .section-bienvenida__img img {
  width: 80%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-bienvenida__img img {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-bienvenida__img img {
    width: 25%;
  }
}
.contenedor-main-index .section-informacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contenedor-main-index .section-informacion h2 {
  color: #014850;
  text-align: center;
  padding: 10px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-informacion h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-informacion h2 {
    font-size: 1.9rem;
  }
}
.contenedor-main-index .section-informacion__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.contenedor-main-index .section-informacion__img img {
  width: 80%;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-index .section-informacion__img img {
    width: 60%;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-index .section-informacion__img img {
    width: 60%;
  }
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3cc4c4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .logos-redes {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .logos-redes a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  footer .logos-redes a {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .logos-redes a {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  footer .logos-redes a {
    font-size: 3rem;
  }
}
footer .footer-informacion {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-informacion ul li {
  list-style: none;
  text-align: center;
  padding: 3px;
  color: #fff;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  footer .footer-informacion ul li {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  footer .footer-informacion ul li {
    font-size: 1.3rem;
  }
}
footer .footer-informacion ul .footer-informacion__titulos {
  font-weight: bolder;
  padding: 5px;
}

.productos {
  background-color: #30abab;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.productos h1 {
  color: #014850;
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .productos h1 {
    font-size: 2rem;
  }
}
.productos__contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .productos__contenedor {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 992px) {
  .productos__contenedor {
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }
}
.productos__contenedor .card-producto {
  padding: 10px;
  margin: 10px;
  border: solid #014850 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 992px) {
  .productos__contenedor .card-producto {
    width: 25%;
  }
}
.productos__contenedor .card-producto img {
  width: 200px;
  transition: all 0.5s linear;
}
.productos__contenedor .card-producto img:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 992px) {
  .productos__contenedor .card-producto img {
    width: 100%;
  }
}
.productos__contenedor .card-producto h2 {
  color: #014850;
  margin-top: 10px;
}
.productos__contenedor .card-producto p {
  color: #014850;
  margin: 4px;
}
.productos__contenedor .card-producto a {
  text-decoration: none;
  color: #fff;
  border: solid #fff 2px;
  padding: 5px;
  transition: all 0.5s linear;
}
.productos__contenedor .card-producto a:hover {
  background-color: #014850;
  transform: scale(1.2);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes {
    display: flex;
    align-items: center;
  }
}
.preguntas-frecuentes .faq-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #30abab;
  padding: 20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-txt {
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-txt {
    align-items: flex-start;
    width: 50vw;
  }
}
.preguntas-frecuentes .faq-txt h1 {
  color: #014850;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-txt h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-txt h1 {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-txt .preguntas {
    margin-left: 40px;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-txt .preguntas {
    margin-left: 40px;
  }
}
.preguntas-frecuentes .faq-txt .preguntas_titulo {
  color: #175655;
  margin: 10px 0;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-txt .preguntas_titulo {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-txt .preguntas_titulo {
    font-size: 1.4rem;
  }
}
.preguntas-frecuentes .faq-txt .preguntas_respuestas {
  color: #f1f3f9;
  list-style: none;
  padding: 5px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-txt .preguntas_respuestas {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-txt .preguntas_respuestas {
    font-size: 1.4rem;
  }
}
.preguntas-frecuentes .faq-img {
  display: none;
  width: 50vw;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .preguntas-frecuentes .faq-img {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .preguntas-frecuentes .faq-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .preguntas-frecuentes .faq-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.preguntas-frecuentes .faq-img img {
  width: 80%;
}

.contenedor-main-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #30abab;
  color: #014850;
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 30% 30% 40%;
    grid-template-areas: "form form dato dato" "form form dato dato" "mapa mapa mapa mapa";
  }
}
.contenedor-main-contacto .contacto__formulario {
  width: 100%;
  padding: 20px 20px;
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario {
    grid-area: form;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contenedor-main-contacto .contacto__formulario h1 {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__formulario h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario h1 {
    font-size: 2.1rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario form {
    width: 80%;
  }
}
.contenedor-main-contacto .contacto__formulario form fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-contacto .contacto__formulario form fieldset {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__formulario form fieldset {
    align-items: center;
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario form fieldset {
    height: 70%;
  }
}
.contenedor-main-contacto .contacto__formulario form fieldset legend {
  text-align: center;
}
.contenedor-main-contacto .contacto__formulario form fieldset input {
  width: 80%;
  margin: 5px 0;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-contacto .contacto__formulario form fieldset input {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__formulario form fieldset input {
    width: 80%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario form fieldset input {
    max-width: 350px;
  }
}
.contenedor-main-contacto .contacto__formulario form fieldset select {
  width: 150px;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-contacto .contacto__formulario form fieldset select {
    width: 20%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__formulario form fieldset select {
    width: 20%;
    font-size: 1.2rem;
  }
}
.contenedor-main-contacto .contacto__formulario form fieldset textarea {
  width: 80%;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .contenedor-main-contacto .contacto__formulario form fieldset textarea {
    width: 60%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__formulario form fieldset textarea {
    width: 80%;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__formulario form fieldset textarea {
    height: 400px;
    width: 350px;
  }
}
.contenedor-main-contacto .contacto__formulario form fieldset .boton_enviar {
  font-weight: bold;
  transition: all 0.8s ease;
  font-size: 1rem;
}
.contenedor-main-contacto .contacto__formulario form fieldset .boton_enviar:hover {
  background-color: #014850;
  color: #fff;
}
.contenedor-main-contacto .contacto__formulario form fieldset .boton_reset {
  font-weight: bold;
  transition: all 0.8s ease;
  font-size: 1rem;
}
.contenedor-main-contacto .contacto__formulario form fieldset .boton_reset:hover {
  background-color: #014850;
  color: #fff;
}
.contenedor-main-contacto .contacto__datos {
  padding: 20px 20px;
  border: solid #014850 2px;
  width: 80%;
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__datos {
    grid-area: dato;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
  }
}
.contenedor-main-contacto .contacto__datos h2 {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__datos h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__datos h2 {
    font-size: 2.1rem;
  }
}
.contenedor-main-contacto .contacto__datos p {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contenedor-main-contacto .contacto__datos p {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__datos p {
    font-size: 1.5rem;
  }
}
.contenedor-main-contacto .contacto__mapa {
  width: 100%;
  padding: 20px 0px;
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__mapa {
    grid-area: mapa;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .contenedor-main-contacto .contacto__mapa iframe {
    height: 100%;
  }
}

.sobre-nosotros {
  background-color: #30abab;
}
.sobre-nosotros h1 {
  text-align: center;
  padding: 10px 0;
  color: #014850;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros h1 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros h1 {
    font-size: 2.5rem;
  }
}
.sobre-nosotros h2 {
  text-align: center;
  padding: 10px 0;
  color: #014850;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros h2 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros h2 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros h2 {
    font-size: 2.5rem;
  }
}
.sobre-nosotros .seccion-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre-nosotros .seccion-video iframe {
  width: 100%;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros .seccion-video iframe {
    width: 80%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros .seccion-video iframe {
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros .seccion-video iframe {
    width: 80%;
    height: 700px;
  }
}
.sobre-nosotros .seccion-video p {
  color: #014850;
  padding: 10px;
  text-align: center;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros .seccion-video p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros .seccion-video p {
    font-size: 1.4rem;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros .seccion-video p {
    font-size: 1.6rem;
  }
}
.sobre-nosotros .seccion-imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sobre-nosotros .seccion-imagenes h3 {
  color: #014850;
  padding: 10px 0;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros .seccion-imagenes h3 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros .seccion-imagenes h3 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros .seccion-imagenes h3 {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros .seccion-imagenes article {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros .seccion-imagenes article {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.sobre-nosotros .seccion-imagenes article div {
  width: 300px;
  margin: 10px 0;
}
@media screen and (min-width: 576px) and (max-width: 767px) {
  .sobre-nosotros .seccion-imagenes article div {
    width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sobre-nosotros .seccion-imagenes article div {
    margin: 10px 10px;
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .sobre-nosotros .seccion-imagenes article div {
    margin: 10px 10px;
    width: 40%;
  }
}
.sobre-nosotros .seccion-imagenes article div img {
  width: 100%;
  transition: all 1s ease;
  overflow: hidden;
}
.sobre-nosotros .seccion-imagenes article div img:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=styles.css.map */
