footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: $clr-primario;
    padding: 20px;
    @include flex-column-center;

    .logos-redes {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-decoration: none;
            color: $txt-primario;
            font-size: 1.3rem;

            @include small {
                font-size: 1.5rem;
            }

            @include medium {
                font-size: 2rem;
            }

            @include large {
                font-size: 3rem;
            }
        }
    }

    .footer-informacion {
        padding: 20px;
        @include flex-column-center;

        ul {
            li {
                list-style: none;
                text-align: center;
                padding: 3px;
                color: $txt-primario;

                @include medium {
                    font-size: 1.3rem;
                }

                @include large {
                    font-size: 1.3rem;
                }
            }

            .footer-informacion__titulos {
                font-weight: bolder;
                padding: 5px;
            }
        }


    }
}
