.preguntas-frecuentes {
    @include medium {
        display: flex;
        align-items: center;
    }

    @include large {
        display: flex;
        align-items: center;

    }

    .faq-txt {
        @include flex-column-center;
        background-color: $clr-secundario;
        padding: 20px;

        @include medium {
            align-items: flex-start;
        }

        @include large {
            align-items: flex-start;
            width: 50vw;
        }

        h1 {
            color: map-get($preguntas-frecuentes, "titulo");
            text-align: center;
            padding: 10px;
            font-size: 1.4rem;

            @include medium {
                font-size: 1.6rem;
            }

            @include large {
                font-size: 1.6rem;
            }
        }

        .preguntas {
            @include medium {
                margin-left: 40px;
            }

            @include large {
                margin-left: 40px;
            }

            &_titulo {
                color: map-get($preguntas-frecuentes, "pregunta");
                margin: 10px 0;

                @include medium {
                    font-size: 1.2rem;
                }

                @include large {
                    font-size: 1.4rem;
                }
            }

            &_respuestas {
                color: map-get($preguntas-frecuentes, "respuesta");
                list-style: none;
                padding: 5px;

                @include medium {
                    font-size: 1.2rem;
                }

                @include large {
                    font-size: 1.4rem;
                }
            }
        }
    }

    .faq-img {
        display: none;
        width: 50vw;

        @include small {
            display: none;
        }

        @include medium {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @include large {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            width: 80%;
        }
    }

}